@import '../base';
@import '../components/mixins';

.home {
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    min-width: 360px;
  }

  &__container {
    margin-top: $mar-4;
    position: relative;
    height: calc(100vh - 10rem);
  }

  &__data-subtitle {
    font-size: 1.1rem;
    color: $light-primary;
    margin-bottom: $mar-1;
    text-transform: capitalize;
  }

  &__data-title {
    font-size: $h2-font;
    margin-bottom: $mar-1;
  }

  &__social-link {
    @include social-styling;
  }
}
