*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.button {
  display: inline-block;
  background-color: #3f51bf;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-weight: 600;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-transform: capitalize;
}

.button:hover {
  background-color: #303f9f;
}

.scrollup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 1.5rem;
  bottom: -20%;
  font-size: 3rem;
  padding: 0.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scrollup__icon {
  color: #303f9f;
  opacity: 0.6;
}

.scrollup__icon:hover {
  color: goldenrod;
  opacity: 1;
}

.show-scroll {
  bottom: 5rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav__menu {
  position: fixed;
  background-color: #6573cc;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  -webkit-box-shadow: -7px 2px 12px 0px rgba(48, 63, 159, 0.49);
  box-shadow: -7px 2px 12px 0px rgba(48, 63, 159, 0.49);
  padding: 6rem 3rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3rem;
  text-transform: uppercase;
}

.nav__item {
  padding: 0.5rem 0;
}

.nav__link {
  padding: 0.5rem 0;
}

.nav__link:hover {
  color: #303f9f;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.nav__toggle {
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.scroll-header {
  background-color: #3f51bf;
  -webkit-box-shadow: 0px 15px 15px 1px rgba(189, 189, 189, 0.49);
  box-shadow: 0px 15px 15px 1px rgba(189, 189, 189, 0.49);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: #fff;
}

.active-link {
  position: relative;
  color: #303f9f;
}

@media (min-width: 1024px) {
  .nav {
    padding: 1.5rem 0 1.5rem 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .nav__menu {
    all: unset;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .nav__items {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav__item {
    margin-right: 1.5rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.home__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 360px;
}

.home__container {
  margin-top: 4rem;
  position: relative;
  height: calc(100vh - 10rem);
}

.home__data-subtitle {
  font-size: 1.1rem;
  color: #c5cae9;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.home__data-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home__social-link {
  font-size: 2rem;
  color: #3f51bf;
  margin-right: 1rem;
}

.home__social-link :hover {
  color: #303f9f;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.about__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .about__title {
    margin-top: 2.5rem;
  }
}

.about__container {
  row-gap: 3rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 3rem;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.about__img-overlay {
  overflow: hidden;
}

.about__img-one {
  width: 350rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__img-one:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.about__img-two {
  width: 200rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__img-two:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.accomodation__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .accomodation__title {
    margin-top: 2.5rem;
  }
}

.accomodation__data {
  text-align: center;
  margin-bottom: 2rem;
}

.accomodation__img {
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accomodation__img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  outline: 2px solid goldenrod;
  outline-offset: -1.9rem;
}

.accomodation__card {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  outline: 2px solid goldenrod;
  outline-offset: -1rem;
}

.accomodation__card:hover {
  outline-offset: -1rem;
}

.accomodation__card-data {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

@media (min-width: 568px) {
  .accomodation__container {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
  .accomodation__card-data-title {
    font-size: 1rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.experience__data {
  text-align: center;
  margin-bottom: 2rem;
}

.experience__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .experience__title {
    margin-top: 2.5rem;
  }
}

.video__content {
  position: relative;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.video__button {
  position: absolute;
  right: 0.5rem;
  bottom: -2.6rem;
}

@media (min-width: 768px) {
  .section__description {
    margin-left: 1rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.occasions__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .occasions__title {
    margin-top: 2.5rem;
  }
}

.occasions__data {
  text-align: center;
  margin-bottom: 1rem;
}

.occasions__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding-bottom: 2rem;
  margin: auto;
}

.occasions__overlay {
  overflow: hidden;
}

.occasions__overlay:nth-of-type(1) {
  margin-left: 2rem;
  width: 20rem;
}

.occasions__overlay:nth-of-type(2) {
  width: 190px;
  position: absolute;
  top: 2rem;
  left: 0;
}

.occasions__img-one,
.occasions__img-two {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.occasions__img-one:hover,
.occasions__img-two:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .occasions__overlay:nth-of-type(1) {
    width: 600px;
  }
  .occasions__overlay:nth-of-type(2) {
    width: 380px;
    padding-right: 3rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.contact__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .contact__title {
    margin-top: 2.5rem;
  }
}

.contact__description {
  text-align: center;
  margin-bottom: 1rem;
}

.contact__form {
  max-width: 568px;
  margin: 0 auto;
}

.contact__input {
  width: 100%;
  padding: 1rem;
  outline: 1px solid #3f51bf;
  outline-offset: -0.25rem;
  border: none;
  background-color: #c5cae9;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #757575;
}

.contact__input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

.contact__input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

.contact__input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

.contact__input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact__text {
  display: block;
  padding-left: 1rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #212121;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 3rem;
}

img,
video {
  max-width: 100%;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #448aff;
  min-width: 360px;
  max-width: 1440px;
}

main {
  padding: 0 1rem;
  min-width: 360px;
}

section {
  padding: 4rem 0 2rem;
  margin: 2rem 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #303f9f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f51bf;
}

.footer {
  background-color: #c5cae9;
  min-width: 360px;
}

.footer__container {
  margin: 2rem auto 0 auto;
  row-gap: 5rem;
  max-width: 968px;
}

.footer__content {
  -ms-grid-columns: (minmax(220px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 3rem;
  margin-left: 1rem;
}

.footer__title,
.footer__subtitle {
  margin-bottom: 0.5rem;
  color: #303f9f;
}

.footer__description {
  margin-bottom: 1.5rem;
}

.footer__social {
  font-size: 2rem;
  color: #3f51bf;
  margin-right: 1rem;
}

.footer__social :hover {
  color: #303f9f;
}

.footer__item {
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.footer__link {
  font-size: 0.8rem;
  color: #3f51bf;
}

.footer__link:hover {
  color: #212121;
}

.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}

.footer__copy,
.footer__terms-link {
  font-size: 0.5rem;
  color: #303f9f;
}

.footer__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__terms-link:hover {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */
